appdirs
astroid
beautifulsoup4
certifi
chardet
click
cycler
downhill
future
idna
isort
lazy-object-proxy
matplotlib
mccabe
numpy
packaging
pandas
parameterized
plac
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
sklearn
urllib3
wrapt
keras
tensorflow
